###############################################################################
#
# Configuration file for the single top analysis.
#
# Modifications:
###############################################################################
#
#
# Set the debug level: the higher, the more printout
DebugLevel: 10
#
#
# A string for the year we are working on
Info.RunYear: 2016nonAPV
Weight.Lumi: 16500
# Mass set to MC value for this study.
# If we are optimizing for some top mass, set that mass here:
TopMass: 172.5
#
#
# Read in a file listing cuts we want to make (electron channel):
Include.CutsFile: config/cuts/met_doubleEle.cuts
#
#
# Read in a file listing the cross section of and number of events in each sample:
Include.WeightsFile: config/weights/MCInformation.weights
#
#
# Read in a file listing the object ID definitions:
Include.ObjectIDFile: config/objects/met_doubleEle.config
#
#
#muonID SFs 
Include.MuonIDSFsFile: config/weights/muon/Efficiencies_muon_generalTracks_Z_Run2016_UL_ID.root
LeptonID.MuonIDSFHistName:NUM_MediumID_DEN_TrackerMuons_abseta_pt
#
#
#muonISO SFs
Include.MuonISOSFsFile: config/weights/muon/Efficiencies_muon_generalTracks_Z_Run2016_UL_ISO.root
LeptonID.MuonIsoSFHistName: NUM_TightRelIso_DEN_MediumPromptID_abseta_pt
#
#
Include.jsonFile: config/json/goldenJson_2016.txt
#muonTk SFs
#Include.MuonTKSFsFile: config/weights/muon/MuonTK_BtoH.root
#
#
#muonTrig SFs
Include.MuonTrigSFsFile: config/weights/muon/EfficienciesAndSF_Period4.root
LeptonID.MuonTrigSHHistName: IsoMu24_OR_IsoTkMu24_PtEtaBins/abseta_pt_ratio
#
#
#electron ID SFs
Include.EleIDFileName: config/weights/electron/egammaEffi.txt_Ele_wp90noiso_postVFP_EGM2D.root
LeptonID.EleIDHistName: EGamma_SF2D
#
#
#electron reco SFs
Include.EleRecoFileName: config/weights/electron/egammaEffi_ptAbove20.txt_EGM2D_UL2016postVFP.root
LeptonID.EleRecoHistName: EGamma_SF2D
#
#
#pileup reweighting files
Include.dataPVFile: config/weights/pileup/data_pileup_2016_trueInt.root
Include.mcPVFile: config/weights/pileup/pv_dy_2016_mc_trueInt.root
Include.minBiasUp: config/weights/pileup/data_pileup_2016_trueInt_minBiasUp.root
Include.minBiasDown: config/weights/pileup/data_pileup_2016_trueInt_minBiasDown.root
#
#
#Moving the trigger selection to this file because it varies by year
Trigger.Name.Or: HLT_Ele27_eta2p1_WPTight_Gsf
#                                                                   
#     
#jer files                                                                                
Include.jerFile: config/weights/jets/Summer20UL16_JRV3_MC_PtResolution_AK4PFchs.txt
Include.jerSFFile: config/weights/jets/Summer20UL16_JRV3_MC_SF_AK4PFchs.txt
Include.jesSources: config/weights/jets/Summer19UL16_V7_MC_UncertaintySources_AK4PFchs.txt
#                                                                                         
#                                                                                                                                                        
##################################
# Everything below here not yet defined for nanoAOD - 2021-11-15 Leggat
##################################
#
#electron Trigger SFs
#Include.EleTrigFileName: config/weights/electron/TriggerSF_Run2016All_v1.root
#LeptonID.EleTrigHistName: Ele27_WPTight_Gsf
#
#
#b tag reshaping csv file and tagger name
#Include.BTagCSVFile: config/weights/CSVv2_Moriond17_B_H.csv
#BTaggerAlgo: CSVv2
#
#
#
#
#bTag efficiencies
#Include.bTagEfficFile: config/weights/bTagEfficiencies.root
#
#
#lepton pt reweigting
#Include.prefireEfficFile: config/weights/Map_Jet_L1IsoEG30eff_bxm1_looseJet_SingleMuon_Run2016B-H.root
#Include.prefireEfficHist: prefireEfficiencyMap
#Include.leptonReweightFile: config/weights/muonPtReweight.root
#
#
#jer file
#Include.jerFile: config/weights/Spring16_25nsV6_MC_PtResolution_AK4PFchs.txt
#Include.jerSFFile: config/weights/Spring16_25nsV6_MC_SF_AK4PFchs.txt
#Include.jerFile: config/weights/Summer16_25nsV1b_MC_PtResolution_AK4PFchs.txt
#Include.jerSFFile: config/weights/Summer16_25nsV1b_MC_SF_AK4PFchs.txt