###############################################################################
#
# Configuration file for the single top analysis.
#
# Modifications:
###############################################################################
#
#
# Set the debug level: the higher, the more printout
DebugLevel: 10
#
# Mass set to MC value for this study.
# If we are optimizing for some top mass, set that mass here:
TopMass: 172.5
#
#
# Read in a file listing cuts we want to make (electron channel):
Include.CutsFile: config/cuts/nanoAOD_Example.cuts
#
#
# Read in a file listing the cross section of and number of events in each sample:
Include.WeightsFile: config/weights/MCInformation.weights
#
#
# Read in a file listing the object ID definitions:
Include.ObjectIDFile: config/objects/nanoAOD_Example.config
#
#
##################################
# Everything below here not yet defined for nanoAOD - 2021-09-08 Leggat
##################################
#
#muonID SFs 
Include.MuonIDSFsFile: config/weights/muon/MuonID_all.root
LeptonID.MuonIDSFHistName: MC_NUM_TightID_DEN_genTracks_PAR_pt_eta
#
#
#muonISO SFs
Include.MuonISOSFsFile: config/weights/muon/MuonISO_all.root
LeptonID.MuonIsoSFHistName: TightISO_TightID_pt_eta
#
#
#muonTk SFs
Include.MuonTKSFsFile: config/weights/muon/MuonTK_BtoH.root
#
#
#muonTrig SFs
Include.MuonTrigSFsFile: config/weights/muon/MuonTrig_all.root
LeptonID.MuonTrigSHHistName: IsoMu24_OR_IsoTkMu24_PtEtaBins
#
#
#electron ID SFs
Include.EleIDFileName: config/weights/electron/egammaEffi.txt_EGM2D_id.root
LeptonID.EleIDHistName: EGamma_SF2D
#
#
#electron reco SFs
Include.EleRecoFileName: config/weights/electron/egammaEffi.txt_EGM2D_reco.root
LeptonID.EleRecoHistName: EGamma_SF2D
#
#
#electron Trigger SFs
Include.EleTrigFileName: config/weights/electron/TriggerSF_Run2016All_v1.root
LeptonID.EleTrigHistName: Ele27_WPTight_Gsf
#
#
#b tag reshaping csv file and tagger name
Include.BTagCSVFile: config/weights/CSVv2_Moriond17_B_H.csv
BTaggerAlgo: CSVv2
#
#
#pileup reweighting files
Include.dataPVFile: config/weights/dataPV.root
Include.mcPVFile: config/weights/mcPV80X.root
Include.minBiasUp: config/weights/minBiasUpPileupHistogram.root
Include.minBiasDown: config/weights/minBiasDownPileupHistogram.root
#
#
#bTag efficiencies
Include.bTagEfficFile: config/weights/bTagEfficiencies.root
#
#
#lepton pt reweigting
Include.prefireEfficFile: config/weights/Map_Jet_L1IsoEG30eff_bxm1_looseJet_SingleMuon_Run2016B-H.root
Include.prefireEfficHist: prefireEfficiencyMap
#Include.leptonReweightFile: config/weights/muonPtReweight.root
#
#
#jer file
#Include.jerFile: config/weights/Spring16_25nsV6_MC_PtResolution_AK4PFchs.txt
#Include.jerSFFile: config/weights/Spring16_25nsV6_MC_SF_AK4PFchs.txt
Include.jerFile: config/weights/Summer16_25nsV1b_MC_PtResolution_AK4PFchs.txt
Include.jerSFFile: config/weights/Summer16_25nsV1b_MC_SF_AK4PFchs.txt