SingleTop.105200*
skims/
hists/
test/
config/synch/
README
*sh
dep/
tmp/
eventLists/
errorLog
moreCopies.txt
*#*
*root
log
plots/
tempMake
more
*.tar.*
*png
whatevs
utils/bkgFit/logs/
config/weights/jsonWeights/