###############################################################################
#
# nanoAOD_Example.config
#
# Example Object ID definitions for the IHEP framework 
#
###############################################################################
#
#NOTE: No cuts mentioned here are actually implemented unless the cut is applied in your bin/example/test_analysis.cpp file.  These are just values to be used if the cuts happen to be called.
######################Pileup##################
#------------------------------------------------------------------------------
# Electron definitions
# The third word is the keyword that the Electron class looks for at various times for selections
# Currently implement are: veto, tight, isolated, unisolated, all.  
# Other can be defined as required
#------------------------------------------------------------------------------
ObjectID.Electron.Tight.MinPt: 30.0
ObjectID.Electron.Tight.MaxEta: 2.4
ObjectID.Electron.Tight.IsoCutEt: 0.15
ObjectID.Electron.Tight.IsoCutPt: 0.10
ObjectID.Electron.Tight.MinEtaGap: 1.4442
ObjectID.Electron.Tight.MaxEtaGap: 1.566
ObjectID.Electron.Tight.dZEndcap: 0.2
ObjectID.Electron.Tight.dZBarrel: 0.1
ObjectID.Electron.Tight.d0Endcap: 0.1
ObjectID.Electron.Tight.d0Barrel: 0.05

ObjectID.Electron.Veto.MaxEta: 2.4
ObjectID.Electron.Veto.MinPt: 20.0
#ObjectID.Electron.Veto.IsoAlgo: etcone20
#ObjectID.Electron.Veto.IsoCut: 6.0
#ObjectID.Electron.Veto.MinEtaGap: 1.37
#ObjectID.Electron.Veto.MaxEtaGap: 1.52

#ObjectID.Electron.UnIsolated.MinPt: 45.0
ObjectID.Electron.UnIsolated.MinPt: 30.0
ObjectID.Electron.UnIsolated.MaxEta: 2.4
ObjectID.Electron.UnIsolated.IsoAlgo: etcone20
ObjectID.Electron.UnIsolated.IsoCutEt: 0.15
ObjectID.Electron.UnIsolated.IsoCutPt: 0.10
ObjectID.Electron.UnIsolated.MinEtaGap: 1.4442
ObjectID.Electron.UnIsolated.MaxEtaGap: 1.566
ObjectID.Electron.UnIsolated.dZEndcap: 0.2
ObjectID.Electron.UnIsolated.dZBarrel: 0.1
ObjectID.Electron.UnIsolated.d0Endcap: 0.1
ObjectID.Electron.UnIsolated.d0Barrel: 0.05


#------------------------------------------------------------------------------
# Muon: veto, tight, isolated, unisolated, all.  Currently using tight vector for	main analysis
#------------------------------------------------------------------------------
ObjectID.Muon.Tight.MinPt: 26.0
ObjectID.Muon.Tight.MaxEta: 2.1
ObjectID.Muon.Tight.JetDeltaRMin: 0.4
ObjectID.Muon.Tight.MaxRelIso: 0.15

#UnIsolated muon definitions:
ObjectID.Muon.UnIsolated.MinPt: 26.0
ObjectID.Muon.UnIsolated.MaxEta: 2.1
ObjectID.Muon.UnIsolated.JetDeltaRMin: 0.4
ObjectID.Muon.UnIsolated.MaxRelIso: 0.15

#Veto definitions
ObjectID.Muon.Veto.MinPt: 10.0
ObjectID.Muon.Veto.MaxEta: 2.4

#------------------------------------------------------------------------------
# Jets
#------------------------------------------------------------------------------
ObjectID.Jet.MinPt: 30.0
ObjectID.Jet.MaxEta: 2.4
ObjectID.Jet.ElectronDeltaRMin: 0.3
ObjectID.Jet.LepCleanR: 0.4
ObjectID.Jet.JetIDValue: 3

#------------------------------------------------------------------------------
# b-jets can be different from untagged jets                                                                         
#------------------------------------------------------------------------------
ObjectID.BJet.MaxEta: 2.4
ObjectID.BJet.MinPt: 30.
#ObjectID.BJet.BTagCut: 0.5426  #Loose CSVv2 WP
ObjectID.BJet.BTagCut: 0.8484 #Medium CSVv2 WP
#ObjectID.BJet.BTagCut: 0.9535 #Tight CSVv2 WP
ObjectID.BJet.InverseTag: 0.6 # For QCD region possibly

#------------------------------------------------------------------------------
# Primary vertex requirements                                                                         
#------------------------------------------------------------------------------
ObjectID.Vertex.Ndof: 4.
ObjectID.Vertex.Z: 24.
ObjectID.Vertex.Dxy: 2.