makeJobsForAllRegions.py
jsonTest.py
jesImpact.py
weightProcessesAllOld.py
slidesForSystematicShifts.py
makeDileptonSubmit.py
leptonPtRatio.py
jsonTest.py
jesImpact.py
createPlotsReinvented.py
autoTar.py
checkYieldsInwPlus.py
collateForTar.py
comparewJets.py
createComparisonBDTTemplates.py
createDileptonLists.py
createEfficiencyPlots.py
createUpdatedJetEleLists.py
sumBDTDataOut.py